---
import InternalLayout from '../../layouts/InternalLayout.astro';
import { Content as Story } from "../evse/_story.md";
---

<InternalLayout>
    <section class="prose-block">
        <Story/>
    </section>
</InternalLayout>

